<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>Tracker</title>
</head>
<body>
<div class = "container">
  <div class="jumbotron">
    <h1 class="display-4">Corona Virus Live Tracker</h1>
    
    
  </div>

  <div>
        
        <label class="font-weight-light" >Select Country </label><br>
        <select class="form-control" type="text" placeholder="Default input" (change)="getCountry ($event.target.value)">
          <option  *ngFor="let country of countries" value = {{country.Slug}}>{{country.Country}}</option>
        </select>
        <br><br>
        <button (click)="getCoronaData()" class="btn btn-success">Get Corona Virus Data :</button> <br> <br>
        <h1 class="font-weight-light">Total Confirmed Cases : {{confirmed}}</h1> <br> <hr>
        <h1 class="font-weight-light">Total recovered Cases : {{recovered}}</h1> <br> <hr>
        <h1 class="font-weight-light">Total Death Cases : {{deaths}}</h1> <br> <hr>


  </div>
</div>
</body>
</html>